@import "../colors.scss";

.nav-top-bar-wrapper {
  background-color: $primary;
  padding: 5px 30px;
  height: calc(40px - 10px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-top-bar-logo-links-wrapper {
    display: flex;
    align-items: center;

    .nav-top-bar-logo {
      color: $secondary;
      font-weight: 600;
      cursor: pointer;
      font-size: 18px;

      &:hover {
        transform: scale(1.05)
      }
    }

    .nav-top-bar-links-wrapper {
      color: #FFF;
      font-weight: 600;
      padding-left: 80px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .nav-top-bar-link-wrapper {
        padding: 0px 20px;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .hamburger-wrapper {
    height: 25px;
    width: 25px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    cursor: pointer;

    .bar {
      height: 2px;
      width: 25px;
      background-color: #FFF;
    }
  }
}