body {
  margin: 0;
  letter-spacing: 0.75px;
  line-height: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// NAVIGATION

@import url(./nav/navDesktopSideNavMainStyles.scss);
@import url(./nav/navDesktopSideNavMediaQueries.scss);

@import url(./nav/navMobileSideNavMainStyles.scss);
@import url(./nav/navMobileSideNavMediaQueries.scss);

@import url(./nav/navTopBarMainStyles.scss);
@import url(./nav/navTopBarMediaQueries.scss);

// FOOTER

@import url(./footer/footerMainStyles.scss);
@import url(./footer/footerMediaQueries.scss);

// HOMEPAGE

@import url(./home/homeMainStyles.scss);
@import url(./home/homeMediaQueries.scss);