@import "../colors.scss";
@import "../animations.scss";

.homepage-wrapper {
  // INTRO SECTION
  .homepage-intro-wrapper {
    min-height: calc(100vh - 160px - 40px);
    padding: 80px;
    background-color: $primary;
    display: flex;
    align-items: center;

    .homepage-intro-text-wrapper {
      padding-right: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      .homepage-intro-welcome {
        color: $secondary; 
        font-weight: 600;
      }

      .homepage-intro-header {
        font-size: 28px;
        color: #FFF;
        font-weight: 600;
      }

      .homepage-intro-text {
        color: #FFF;
        font-size: 18px;
      }

      .homepage-intro-toggle-wrapper {
        height: 30px;
        display: flex;
        align-items: center;
        gap: 10px;

        .homepage-intro-toggle {
          border: none;
          padding: 0px;
          width: 12.5px;
          height: 12.5px;
          border-radius: 50%;
          cursor: pointer;
          transition: 300ms;

          &:hover {
            background: radial-gradient(circle, #a66bff, #c666ef, #dd62df, #ee61cf, #fb64bf);
            border-radius: 10px;
            width: 30px;
          }
        }

        .homepage-intro-toggle-active {
          background: radial-gradient(circle, #a66bff, #c666ef, #dd62df, #ee61cf, #fb64bf);
          border-radius: 10px;
          width: 30px;
        }
      }

      .homepage-intro-action-button {
        width: max-content;
        padding: 0px 20px;
        height: 50px;
        border: none;
        border-radius: 10px;
        color: #000;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        background: radial-gradient(circle, #feb302, #f8c600, #eed900, #e0ec00, #cdff05);

        &:hover {
          animation-name: radialGradientExpansion;
          animation-duration: 200ms;
          animation-fill-mode:forwards;
          animation-iteration-count: 1;
        }
      }
    }

    // TODO IMAGE STYLES
  }

  // ABOUT US SECTION

  .homepage-about-us-wrapper {
    min-height: calc(100vh - 160px);
    padding: 80px;
    background-color: #FFF;
    display: flex;
    align-items: center;

    // TODO IMAGE STYLES

    .homepage-about-us-text-wrapper {
      padding-left: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      .homepage-about-us-header {
        color: $secondary; 
        font-weight: 600;
      }

      .homepage-about-us-subheader {
        font-size: 28px;
        color: $primary;
        font-weight: 600;
      }

      .homepage-about-us-paragraphs-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .homepage-about-us-text {
          margin: 0px;
        }
      }

      .homepage-about-us-action-button {
        width: max-content;
        padding: 0px 20px;
        height: 50px;
        border: none;
        border-radius: 10px;
        color: #000;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        background: radial-gradient(circle, #feb302, #f8c600, #eed900, #e0ec00, #cdff05);

        &:hover {
          animation-name: radialGradientExpansion;
          animation-duration: 200ms;
          animation-fill-mode:forwards;
          animation-iteration-count: 1;
        }
      }
    }
  }

  // SERVICES SECTION

  .homepage-services-wrapper {
    min-height: calc(100vh - 160px);
    padding: 80px;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-items: center;

    .homepage-services-header {
      color: $secondary; 
      font-weight: 600;
    }

    .homepage-services-subheader {
      font-size: 28px;
      color: $primary;
      font-weight: 600;
    }

    .homepage-services-text {
      color: #FFF;
      font-size: 18px;
    }

    .homepage-services-action-button {
      margin-top: 40px;
      width: max-content;
      padding: 0px 20px;
      height: 50px;
      border: none;
      border-radius: 10px;
      color: #000;
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
      background: radial-gradient(circle, #feb302, #f8c600, #eed900, #e0ec00, #cdff05);

      &:hover {
        animation-name: radialGradientExpansion;
        animation-duration: 200ms;
        animation-fill-mode:forwards;
        animation-iteration-count: 1;
      }
    }

    // HOMEPAGE SERVICES CAROUSEL

    .homepage-services-carousel-wrapper {
      padding-top: 47.5px;
      display: flex;
      gap: 20px;
      flex: 1;
      overflow: hidden;
      
      .homepage-service-wrapper {
        background-color: $primary-varient-two;
        padding: 10px 60px 10px 10px;
        border-radius: 10px;
        

        .homepage-service-image-wrapper {
          border-radius: 10px;
          overflow: hidden;
          display: flex;
          flex: 1;

          .homepage-service-image {
            height: 150px;
            width: 250px;
          }
        }

        .homepage-service-text-wrapper {
          .homepage-service-header {
            font-size: 20px;
            padding-top: 20px;
            font-weight: 600;
            color: #FFF;
          }
  
          .homepage-service-text {
            padding-top: 10px;
            font-size: 15px;
            color: #FFF;
          }
        }
      }
    }

    .homepage-services-carousel-toggle-wrapper {
      padding-top: 20px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .homepage-services-carousel-toggle {
        border: none;
        padding: 0px;
        width: 12.5px;
        height: 12.5px;
        border-radius: 50%;
        cursor: pointer;
        transition: 300ms;

        &:hover {
          background: radial-gradient(circle, #a66bff, #c666ef, #dd62df, #ee61cf, #fb64bf);
          border-radius: 10px;
          width: 30px;
        }
      }

      .homepage-services-carousel-toggle-active {
        background: radial-gradient(circle, #a66bff, #c666ef, #dd62df, #ee61cf, #fb64bf);
        border-radius: 10px;
        width: 30px;
      }
    }
  }

  // SHARED STYLES

  .homepage-text-varient {
    background: radial-gradient(circle, #a66bff, #c666ef, #dd62df, #ee61cf, #fb64bf);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}