@import "../colors.scss";
@import "../animations.scss";

.services-wrapper {
  .services-intro-wrapper {
    position: relative;
    padding: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    overflow: hidden;

    .services-intro-background-wrapper {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: -1;

      .services-intro-background {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .services-intro-text-wrapper {
      padding-bottom: 80px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center;

      .services-intro-header {
        font-size: 28px;
        color: $secondary; 
        font-weight: 600;
      }

      .services-intro-text {
        color: $white-secondary;
        font-size: 18px;
      }

      .services-intro-action-button {
        width: max-content;
        padding: 0px 20px;
        height: 50px;
        border: none;
        border-radius: 10px;
        color: #000;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        background: radial-gradient(circle, #feb302, #f8c600, #eed900, #e0ec00, #cdff05);

        &:hover {
          animation-name: radialGradientExpansion;
          animation-duration: 200ms;
          animation-fill-mode:forwards;
          animation-iteration-count: 1;
        }
      }
    }

    .services-intro-image-wrapper {
      display: flex;
      flex: 1;

      .services-intro-image {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}